<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="基于Django的视频点播网站">
    <meta name="google-site-verification" content="UhrjUG70pwiY6Sp4u4p5Q3ol8iD7yx4ZSwmGBpoaWik">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>视点</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    
<link rel="stylesheet" href="/static/css/dropload.css">


    <script src="https://hm.baidu.com/hm.js?e3be3decd24d944e0bc592558617d210"></script><script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?e3be3decd24d944e0bc592558617d210";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7751395790281530",
        enable_page_level_ads: true
      });
    </script>

</head>
<body style="zoom: 1;">




<div class="ui sticky fixed  menu">
    <div class="ui container">
        <a href="/" class="borderless header item">
            <img class="logo" src="/static/img/logo.png">
            视点
        </a>
        <div class="v-header-extra">
            <div class="ui small icon input v-video-search">
                <input class="prompt" value="" type="text" placeholder="搜索视频" id="v-search">
                <i id="search" class="search icon" style="cursor:pointer;"></i>
            </div>

            
            <a class="ui tiny secondary basic button" id="v-header-login" href="/users/login/?next=/video/detail/27/">登录</a>
            

        </div>
    </div>
</div>
<div class="ui container" id="v-content">
    
<div class="ui unstackable two column grid">
    <div class=" ten wide column">
        <video class="video" autoplay="autoplay" controls="controls" controlslist="nodownload" disablepictureinpicture="">
            <source src="/upload/chunked_uploads/2019/03/05/07284bfd2f6940de94114dc00ca93f67.part" type="video/mp4">
        </video>
        <div class="video-info">
            <div class="video-title">python面试必知技巧</div>
            <div class="video-view-count">703次观看</div>
            <div class="video-view-operation">
                python面试必知技巧python面试必知技巧python面试必知技巧
            </div>
            <div class="extra content video-view-operation">
                <span class="left floated like">
                    <i class="like grey icon cursor" id="like" video-id="27"></i>
                    <span id="like-count">7</span>
                </span>
                <span class="right floated star">
                    <i class="bookmark grey  icon cursor" id="star" video-id="27"></i>
                    <span id="collect-count">3</span>
                </span>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="ui comments">
            
            <div class="ui ignored info attached message">
                <p>登录后即可评论 &nbsp;&nbsp;&nbsp;<a href="/users/login/?next=/video/detail/27/">马上登录</a></p>
            </div>
            
            <h3 class="ui dividing header" id="id_comment_label">21条评论</h3>
            <div class="comment-list">




    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/2b/51/2b51929bc1a68f499fcd52b8e63976bb.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">3天前</span>
            </div>
            <div class="text">
                ffff
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1周前</span>
            </div>
            <div class="text">
                最早在最早在最早在
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1周前</span>
            </div>
            <div class="text">
                fdsafdsf
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1周前</span>
            </div>
            <div class="text">
                fdsafads
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1周前</span>
            </div>
            <div class="text">
                dafsdf
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1周前</span>
            </div>
            <div class="text">
                ddd
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">2周前</span>
            </div>
            <div class="text">
                aaaaaaaaaaaaaaaa
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">2周前</span>
            </div>
            <div class="text">
                adasfasdf
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/static/img/img_default_avatar.png">
            

        </a>
        <div class="content">
            <a class="author">
                 匿名 
            </a>
            <div class="metadata">
                <span class="date">3周前</span>
            </div>
            <div class="text">
                good
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f1/9f/f19f1427eb221bf3c6a1ada340461d5a.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                啊
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f0/aa/f0aa583266f31ed49869c4a7381dff14.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                66666666666666666666666666
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/upload/cache/f0/aa/f0aa583266f31ed49869c4a7381dff14.jpg">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                不错
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/static/img/img_default_avatar.png">
            

        </a>
        <div class="content">
            <a class="author">
                 匿名 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                奥术大师多
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/static/img/img_default_avatar.png">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                s
            </div>
        </div>
    </div>

    <div class="comment">
        <a class="avatar">

            
            <img class="ui avatar image" src="/static/img/img_default_avatar.png">
            

        </a>
        <div class="content">
            <a class="author">
                 marshmello 
            </a>
            <div class="metadata">
                <span class="date">1个月前</span>
            </div>
            <div class="text">
                sw
            </div>
        </div>
    </div>
</div>
        <div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div></div>
    </div>
    <div class="six wide column">
        

<span class="video-side-title">推荐列表</span>
<div class="ui unstackable divided items">

    
    <div class="item">
        <div class="ui tiny image">
            
            <img class="ui image" src="/upload/cache/81/01/810160921f7c2383a6a092cca54b40ed.jpg">
            
        </div>
        <div class="middle aligned content">
            <a class=" header-title" href="/video/detail/27/">python面试必知技巧</a>
            <div class="meta">
                <span class="description">703次观看</span>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="ui tiny image">
            
            <img class="ui image" src="/upload/cache/11/84/1184586447869c75902b2199cb3a2348.jpg">
            
        </div>
        <div class="middle aligned content">
            <a class=" header-title" href="/video/detail/25/">欧冠梅西精彩进球</a>
            <div class="meta">
                <span class="description">562次观看</span>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="ui tiny image">
            
            <img class="ui image" src="/upload/cache/01/a5/01a581708ad0b3ac65b05bf0f92abd2a.jpg">
            
        </div>
        <div class="middle aligned content">
            <a class=" header-title" href="/video/detail/26/">《流浪地球》细思极恐的细节</a>
            <div class="meta">
                <span class="description">487次观看</span>
            </div>
        </div>
    </div>
    
    <div class="item">
        <div class="ui tiny image">
            
            <img class="ui image" src="/upload/cache/ee/3c/ee3c872f1851b144a216d2bee3c33b54.jpg">
            
        </div>
        <div class="middle aligned content">
            <a class=" header-title" href="/video/detail/24/">港股危机再现</a>
            <div class="meta">
                <span class="description">289次观看</span>
            </div>
        </div>
    </div>
    

</div>
        

<!--<a target="_blank" href="https://promotion.aliyun.com/ntms/act/enterprise-discount.html?userCode=3bcjya8p">-->
    <!--<img src="/static/img/img_ad_banner.jpg">-->
<!--</a>-->

<script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- ad-banner -->
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7751395790281530" data-ad-slot="3133652734" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

    </div>
</div>

</div>


<div class="ui vertical footer segment ">
    <div class="ui center aligned container">
        <div class="ui divider"></div>
        <img src="/static/img/logo.png" class="ui centered mini image">
        <div class="ui horizontal   small divided link list">
            <a class="item" href="#">北京堆栈科技有限公司</a>
            <a class="item" href="#">联系我们</a>
            <a class="item" href="#">京ICP证090287</a>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/1.9.0/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    var search_url = "/video/search/"
</script>
<script src="/static/js/header.js"></script>



<script>
var comments_url = "/comment/get_comments/"
var video_id = 27
</script>

<script src="/static/js/dropload.js"></script>
<script src="/static/js/load_comments.js"></script>
<script src="/static/js/detail.js"></script>






</body></html>